footer {
  background-color: #f5d1d1;
  padding: 1rem;
  padding-left: 3rem;
  text-align: center;

  .fBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .time {
      display: flex;
      width: 40%;
      padding-bottom: 0.75rem;
      justify-content: space-around;

      h3 {
        font-size: 1.25rem;
        margin-right: 0.75rem;
      }

      .time_text {

        p {
          font-size: 1.25rem;
          padding-bottom: 0.75rem;
        }
      }
    }

    .fLink {
      width: 30%;

      .links {
        padding-bottom: 0.75rem;

        img {
          width: 2.5vw;
          height: 2.5vw;
          margin: .75rem;
        }
      }

      nav {
        padding-bottom: 0.75rem;

        li {
          display: inline-block;

          a {
            text-decoration: none;
            color: #e05a0c;
            font-size: 1.3rem;
            margin: .5rem;
          }
        }

      }

      h3 {
        padding-bottom: 0.75rem;
      }
    }
  }
}

@media screen and (max-width:550px) {
  footer {
    padding-left: 0rem;
    .fBox {
      display: block;

      .time {
        display: block;
        width: 100%;

        h3 {
          margin: 1rem;
          font-size: 2rem;
        }
      }

      .fLink {
        width: 100%;

        .links {
          img {
            width: 8vw;
            height: 8vw;
            margin: .75rem;
          }
        }
      }
    }
  }
}